img {
    max-width:100%;
}

.form-check-input{
    width: 20px;
    height: 20px;
}
.highlight{
    background-color: burlywood;
}
@media(max-width: 599px) {
    .navbar-toggler.icon {
        margin:0;

}
}

