#quantityInCart{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    text-align: center;
}

.cart-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 10%;
    height: auto;
}

.center-table{
    vertical-align: middle;
}