html {
    --border-cl: #464646;
    font-size: 100%;
  }
  
  section {
    min-height: 90vh;
  }

  textarea{
    resize: none;
    outline:none;
    padding: 0.2rem;
  }
  
  .cart-title {
    border-bottom: 3px solid var(--border-cl);
    display: flex;
    padding-top: 2rem;        
  }
  .line-item-border {
    display: flex;
    border-bottom: 1px solid var(--border-cl);
  }
  .cart-footer {
    border-top: 1px solid var(--border-cl);
  }

  @media (max-width: 540px){
    .cart h1 {
      text-align: center;
    }
    .cart-title h6 {
    font-size: 0.6rem;
  }
  .cart-line-item {
    font-size: 0.7rem;
  }
  
  }
