#quantityInCart{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-bottom: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.cart-thumbnail {
    padding: 0.05rem;
    background-color: #fff;
    border: 1px solid #94c2f0;
    border-radius: 0.25rem;
    max-width: 90%;
    height: auto;
    margin-top: -3px;
}

.center-table{
    vertical-align: middle;
}

.shadow-button{
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: black;
    border-color: black;
    padding: 0rem;
    padding-bottom: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    box-shadow: 4px 4px 4px rgb(58, 56, 56);
    border-radius: 25px;
  }

.shadow-button:hover{
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: black;
    border-color: black;
    box-shadow: 1.5px 1.5px 4px rgb(58, 56, 56);
    border-radius: 25px;
}

.trashcan-center {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  margin: auto;
  border: none;
  position: flex;
  top: 50%;
  left: 50%;
  display:block;
}
.trashcan-center:hover {
  color: #0d6efd;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  margin: auto;
  border: none;
  position: flex;
  top: 50%;
  left: 50%;
  display:block;
}
svg {
  pointer-events: none;
}

.total-price-container {
  display: flex;
  justify-content: flex-end;
}
.total-price-container p {
  margin: 0rem 1rem;
}
@media (max-width: 991px) {
  .full-width {
    width: 100%;
  }
  .card-body .card-title,
  .card-body .card-price,
  .card-body .card-text {
    font-size: 0.9em;
  }
  .card-body #open-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: end;
    margin-top: -100px;
  }
  .modal-body {
    padding:1em 0.5em;
    width: 100%;
    font-size: 0.9em;
  }
  .modal-body h5 {
    font-size: 0.804em;
  }
  .modal-body div.smaller {
    font-size: 0.8em;
    margin-top: 3px;
  }
  #cart-symbol-2 {
    display: none;
  }
  .total-price-row {
    font-size: 0.7em;
  }
  .total-price-row h5 {
        font-size: 1.2em;
  }
  .line-price {
    margin-right: 0.0.1em
  }
  .quantity {
        font-size: 1.2em;
        padding-left: 0.1em;
        padding-right: 0.1em;
  }
  .remove-button {
    font-size: 1.3em;
  }
  .increase-button {
    font-size: 1.3em;
  }
  .qty-label {
    margin-top:-2px
  }
}
.cart-row {
  align-content: center;
  justify-content: center;
}

.decrease-button {
  cursor:pointer
}
.increase-button {
  cursor:pointer
}
.trash-button {
  cursor:pointer
}