nav {
  min-height: 10vh;
  
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  background-color: rgb(201, 201, 201);
}

img.nav-image {
  height: 90px;
  width: auto;
}

.product-search {
  width: 15rem;
}

nav #links a {
  margin: 0rem 1rem;
  font-size: 1.2rem;
}


@media(max-width:599px) {
  nav {
    min-height: 10vh;
  }

  nav .wrapper {
    background: rgb(201, 201, 201);
    width:100%;
    height: 6vh;
  }

  nav #mobileMenu {
    margin-top: -9.8rem;

  }
  
}

@media(max-width:546px) {
  nav #mobileMenu {
    margin-top: -13.3rem;
    margin-left:89%
  }
}

@media(max-width:500px) {
  nav #mobileMenu {
    margin-top: -13.3rem;
    margin-left:85%
  }
}

@media(max-width:374px) {
  nav #mobileMenu {
    margin-top: -3.6rem;
    margin-left:2%;
    z-index: 1001;
  }
}