html {
    font-size: 100%;
}

.tab-menu{
    margin-top: 7.28rem;
}

.save-button {
    margin-top: 0.5rem;
}

.error-msg{
    color: #F90A0A;
}

@media(max-width: 768px) {

    .table {
        font-size: 0.7rem !important;
    }
    
}