@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html {
    font-size: 100%;
    
}

body {
 font-family: "Poppins";
}

.tab-menu{
    margin-top: 7.28rem;
}

.save-button {
    margin-top: 0.5rem;
}

.error-msg{
    color: #F90A0A;
}

@media(max-width: 768px) {

    .table {
        font-size: 0.7rem !important;
    }
    
}
@media(max-width: 599px) {
  #mobileMenu {
    margin-top: 0rem !important;
  }
}

@media(max-width: 546px) {
  #mobileMenu {
    margin-top: -6.2rem !important;
  }
}

@media (max-width: 374px) {
  
  #mobileMenu {
    margin-top: -0.5rem !important;
  }
  #myTab {
    margin-top: 9.22rem;
  }
  #login-btn {
    margin-top: 1rem;
  }
}