* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
a {
  text-decoration: none;
  color: black;
}

button {
  padding: 0.2rem 2rem;
}

/* Nav-bar styles */

nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(201, 201, 201);
}

nav #links a {
  margin: 0rem 1rem;
  font-size: 1.2rem;
}
footer{
  background-color: rgb(34, 33, 33);
  color:white
}
footer a{
  text-decoration: none;
  color:white;
}
