@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
a {
  text-decoration: none;
  color: black;
}

button {
  padding: 0.2rem 2rem;
}

/* Nav-bar styles */

nav {
  min-height: 10vh;
  
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  background-color: rgb(201, 201, 201);
}

img.nav-image {
  height: 90px;
  width: auto;
}

.product-search {
  width: 15rem;
}

nav #links a {
  margin: 0rem 1rem;
  font-size: 1.2rem;
}
footer {
  background-color: rgb(34, 33, 33);
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}

#navbar-margin {
  margin-top: 15vh;
}
.shop-body {
  margin-top: 20rem;
}

.error-msg{
  color: #F90A0A;
}
@media(max-width:599px) {
  nav {
    min-height: 10vh;
  }

  nav .wrapper {
    background: rgb(201, 201, 201);
    width:100%;
    height: 6vh;
  }

  nav .navbar-toggler {
    margin-top: -9.8rem;

  }
  
}

@media(max-width:546px) {
  nav .navbar-toggler {
    margin-top: -13.3rem;
    margin-left:89%
  }
}

@media(max-width:500px) {
  nav .navbar-toggler {
    margin-top: -13.3rem;
    margin-left:85%
  }
}

@media(max-width:374px) {
  nav .navbar-toggler {
    margin-top: -3.6rem;
    margin-left:2%;
    z-index: 1001;
  }
}

